<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Shows Found</title>
    <link rel="stylesheet" href="/public/main_styles.css">
</head>

<main>
    <p class="error-not-found">{{show}}</p>
    <a href="/">Make another search</a>
</main>